// Primary
$primary-strong-cyan: hsl(171, 66%, 44%);
$primary-light-blue: hsl(233, 100%, 69%);
$primary-black: #000;
$primary-white: #fff;


// Neutral
$neutral-dark-grayish-blue: hsl(210, 10%, 33%);
$neutral-grayish-blue: hsl(201, 11%, 66%);


//margin and Width
$margin-big: 12rem;
$margin-small: 3rem;
$margin-exsmall: 2rem;
$margin-medium: 6rem;
$mobile-width: 94%;
$button-width: 70%;
$button-padding-x: 2rem;
$button-padding-y: 1rem;